@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #388FCB;
  --mid-colo: #7CC140;
}
.container {
  width: 85%;
  margin: auto;
}.main-section {
  padding-top: 4rem;

}
.footer-section {
  background: var(--main-color);
}
.footer {
  display: flex;
  justify-content: space-between;
}
.privacy-box,
.info-box {
  padding: .8rem 0;
}
.err-info button a,
li a,
.privacy-box a,
.info-box a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin: 0 1rem;
  cursor: pointer;
}
.border-left-line {
  border-left: 1px solid #fff;
}
.info-box span {
  padding-left: .4rem;
}
.navbar {
  padding: .4rem 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9;
  transition: .4s linear;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
  padding: .5rem 1rem;
}

li a {
  color: #202020;
  padding: .5rem 0;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  font-weight: 500;
  margin: 0 .3rem;
}
.active {
  border-bottom: 4px solid var(--main-color);
}
.border-bottom {
  width: 0%;
  background: linear-gradient(180deg, rgba(124, 193, 64, 0.75) 0%, rgba(56, 143, 203, 0.75) 100%);
  height: 4px;
  display: block;
  border-radius: 6px;
  transition: .4s ease-out;
  margin-top: .2rem;
}
li:hover .border-bottom {
  width: 100%;
}
.logo {
  position: relative;
  display: block;
  cursor: pointer;
  border: none;
}
.logo img {
  width: 100%;
}
.logo i {
  transform: rotate(60deg);
  position: absolute;
  bottom: 70px;
  right: -40px;
  animation: mymove 2s steps(5) 2s infinite alternate;
  color: #7CC140;
  font-size: 2.4rem;
  padding: .2rem;
}

@keyframes mymove {
  from {
    clip-path: inset(60% 0% 0% 0%);
  }

  to {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.mainbox {
  display: flex;
  align-items: center;
}

.home-box {
  padding: 1rem 0;
}

.err-info h1,
.info p,
.info h2 {
  font-size: 3rem;
  width: 70%;
  padding: .5rem 1rem;
}
.info h2 {
  position: relative;
  z-index: 10;
}
.info p {
  font-size: 1.1rem;
  color: #333333;
  line-height: 1.5;
  margin-top: 5rem;
}

.err-info button,
.mail-info button,
.info button {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: var(--main-color);
  margin: .5rem;
}

.err-info button,
.mail-info button {
  color: #fff;
  padding: .8rem 1.3rem !important;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  align-items: center;
  transition: .4s ease-out;
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  border: 2px solid transparent !important;
}

.rotate {
  transform: rotate(90deg);
  margin-right: .5rem;
}

.ms-5 {
  margin-left: .5rem;
}

.mail-info .sub {
  background: var(--mid-colo);
}

.mail-info .sub:hover,
.mail-info .stock:hover {
  border: 2.5px solid var(--mid-colo) !important;
  background: none;
  color: var(--mid-colo);
}

.mail-info .stock {
  background: var(--main-color);
}

.mail-info .stock:hover {
  border: 2.5px solid var(--main-color) !important;
  color: var(--main-color);
}

.main-one {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 11;
}

.emailBox,
.mail-info button {
  border-radius: 40px;
}

.emailBox {
  display: flex;
  align-items: center;
  border: 1.5px solid #7CC140;
  padding: .1rem 1rem;
  margin: 1rem 0;
}

.mail-info button,
.emailBox input {
  padding: .8rem .5rem;
  outline: none;
  background: none;
  border: none;
  font-size: 1.1rem;
}

.info span {
  color: var(--main-color);
}

.soc-links {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
}

.soc-links a {
  background: linear-gradient(to right, var(--mid-colo), var(--main-color));
  color: #fff;
  padding: .3rem .5rem;
  font-size: 1.2rem;
  border-radius: 40px;
  margin: 0 .4rem;
}

.me-5 {
  margin-right: 1rem;
}

.color-grad {
  color: rgb(108, 141, 59);
  font-size: 1.4rem;
  margin-right: .5rem;
}

.soc-links span {
  color: rgb(108, 141, 59);
  padding-right: .5rem;
}

.soc-links p {
  color: var(--main-color);
  display: flex;
  padding-right: .4rem;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.left-line {
  margin-top: 3.5rem;
}

.border-line {
  background: linear-gradient(to right, var(--mid-colo), var(--main-color));
  width: 25%;
  height: 12px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: .5rem;
}

.color-green {
  background: linear-gradient(to right, var(--main-color), var(--mid-colo));
  width: 32%;
}

.content-box {
  padding: 1rem 0;
}
.dotlinemar {
  position: absolute;
  right: 110px;
  margin-top: 2rem;
  z-index: 10;

}
.dot-line .line {
  background: #cecece;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  margin: .5rem .3rem;
}

.dot-line .line-dark {
  background: linear-gradient(to right, rgb(108, 141, 59), rgba(55, 111, 167));
  height: 48px;
}

@keyframes rotatin {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.img-rotate-eff {
  position: relative;
  z-index: 10;
  top: -68px;
}
.bodereffect {
  width: 102px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  bottom: 150px;
  left: -40px;
  animation: rotatBox 2s ease-out 1s infinite alternate;
}

.bodereffect.border-green {
  position: absolute;
  bottom: 130px;
  left: 20pc;
  background: var(--mid-colo);
  opacity: .5;
  width: 125px;
  height: 125px;
}
.border-blue {
  opacity: .6;
  position: absolute;
  top: -250px;
  left: 20pc;
  animation: rotatBox 4s ease-out linear infinite !important
}

@keyframes rotatBox {
  0% {
    transform: rotate(0deg);
    clip-path: circle(150% at 30% 0%);
  }

  100% {
    transform: rotate(360deg);
    clip-path: circle(150% at 100% 100%);
  }
}

.box {
  position: relative;
  z-index: -1;
  top: -34px;
}

.wav {
  position: absolute;
  top: 70px;
  left: 50px;
  background-image: linear-gradient(var(--main-color), var(--mid-colo));
  width: 26rem;
  height: 26rem;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: dirft 12000ms infinite linear;
  opacity: .5;
}

.wavs {
  height: 7rem;
  width: 7rem;
  left: 20.5pc;
  top: -254px;
}

.wav.-one {
  left: 62px;
  top: -402px;
}

.wav.-two {
  top: -380px;
  left: 68px;
  animation: dirft 20000ms infinite linear;
  opacity: .3;
  z-index: 3
}

@keyframes dirft {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.service-section {
  margin: 2rem 0;
}

.service-section p {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 60%;
  margin: auto;
}

.service-section h1 {
  text-align: center;
  padding: 2rem 0;
  font-size: 2.8rem;
  color: var(--main-color);
}
.service-section h1 span {
  background: url('../public/images/headingdg.png') no-repeat center center/cover;
  color: #fff;
  padding: 1rem;
}
.info {
  position: relative;
  z-index: 11;
}
.service-box {
  border: 2px solid var(--mid-colo);
  background: #F2FBFF;
  padding: 1rem;
  text-align: center;
  margin: 0 .5rem;
  border-radius: 20px;
}

.service-img {
  width: 40%;
  margin: auto;
}

.service-img img {
  width: 100%;
}

.services-boxs {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.services-boxs h2 {
  font-weight: 500;
  color: #333333;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.services-boxs p {
  width: 100%;
  padding: 0;
  font-size: 13px;
  color: #888888;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.dot-line .width-line {
  height: 14px;
  width: 48px;
  background: var(--mid-colo) !important;
}

.flex-box .line {
  background: #cef0fd;
}

.flex-box button {
  border: 2px solid var(--mid-colo);
  background: none;
  display: flex;
  padding: .3rem;
  border-radius: 50px;
  margin: 0 .5rem;
  cursor: pointer;
}
.colr-green {
  color: var(--mid-colo);
  font-size: 1.1rem;
}
.image-box {
  margin-top: 3rem;
  position: relative;
  z-index: 11;
  text-align: center;
}
.image-box img {
  margin: 0 1.1rem;
}
.background-eff {
  background: #F2FBFF;
}
.background-mob-eff {
  height: 105vh;
}
.backbox {
  position: relative;
}
.headingshape {
  position: absolute;
  top: -69px;
  left: -59px;
  z-index: 9;
}

.headingshape-two {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 9;
}
.box-image {
  width: 35%;
  position: absolute;
  right: 130px;
  top: 190px;
  z-index: 20;
}

.box-image img {
  width: 50%;
  margin: auto;
  display: block;
}

.bacg-imglayer {
  position: absolute;
  bottom: 530px;
  width: 100%;
}
.bacg-imglayer img {
  width: 100%;
}

.iphone14img img {
  width: 100%;
}

.err-section {
  text-align: center;
  padding: 4rem 0;
}

.errImg {
  width: 50%;
  margin: auto;
}

.errImg img {
  width: 100%;
}

.err-info h1 {
  width: 100%;
  text-shadow: 2px 3px 5px rgb(190, 6, 6);
}
.err-info button {
  background: rgb(190, 6, 6);
  border-radius: 8px;
  margin: 1.2rem auto;
}
.err-info button a {
  margin: 0;
  font-size: 1.2rem;
}
.box-layer {
  width: 100%;
  height: 200vh;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0); 
}
.wav-layer {
  position: absolute;
  top: 0;
  right: 0;
  background: #7CC9E83D;
  width: 50%;
  height: 110vh;
  transform-origin: 50% 43%;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 450px;
  animation: dirft 15000ms infinite linear;
  z-index: 10;
  border-left: 6.5px solid white;
  border-right: 6.5px solid white;
}
.-ones{
  right: 10px;
  opacity: .3;
  border: none;
}
.d-none{
  display: none;
}
.d-block{
  display: block;
}
.info h2{
  padding-bottom: 0;
}
.info span:last-child{
  position: absolute;
  top: 0px;
}
.mt-0{
  margin-top: 0 !important;
}
.tablet{
  top: -13px !important;
}